<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  </div>
  <div class="field">
    <%= f.label :department %><br>
    <%= f.text_field :department %>
  </div>
  <div class="field">
    <%= f.label :coursenumber %><br>
    <%= f.text_field :coursenumber %>
  </div>
  <div class="field">
    <%= f.label :coursesection %><br>
    <%= f.text_field :coursesection %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
